<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/login.css" />
    <title>|| Login ||</title>
</head>

<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form method="POST" class="sign-in-form">
                    <h2 class="title">Login</h2>
                    <div class="input-field">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        <input type="text" placeholder="Username" name="username" id="username"/>
                    </div>
                    <div class="input-field">
                        <i class="fas fa-lock"></i>
                        <input type="password" placeholder="Password" name="password" id="password" />
                    </div>
                    <input type="submit" value="Login" class="btn solid" />
                </form>
                <form method="POST" class="sign-up-form">
                    <h2 class="title">Login</h2>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>Hello Again!</h3>
                    <p>
                        Once you login you can see all the toppers, in which class they are in and there other details. You can also delete and add new toppers to the list which will be shown on the acheivers page.
                    </p>
                </div>
                <img src="/pics/logo.png" class="image" alt="" />
            </div>
        </div>
    </div>
    </div>
</body>

</html>